.about {
	background-image: url(../brainzapped-theme/resources/img/about-pic.jpg);
	background-attachment: fixed;
	background-size:cover;
	padding: 50px;
	color: #21ba39;
}

/***********pagination*****************/
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}

.navigation li {
	display: inline-block;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    background-color: purple;
    border-radius: 0px;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: green;
}


/*********masonry style***********/

/* Makes two columns */
.ms-item {
width: 50%;
}
.ms-item-small {
width: 33%;
}

/* Makes three columns */

@media only screen and (max-width: 500px) {
	.ms-item{
		width: 100%;
	}
}
