.about {
	background-image: url(../brainzapped-theme/resources/img/about-pic.jpg);
	background-attachment: fixed;
	background-size:cover;
	padding: 50px;
	color: #21ba39;
}

/***********pagination*****************/
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}

.navigation li {
	display: inline-block;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    background-color: purple;
    border-radius: 0px;
    cursor: pointer;
    padding: 12px;
    padding: 0.9rem;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: green;
}
/***************slide show*******************/

.jumbotron{
    height: 450px;
    overflow: hidden;
}
* {box-sizing:border-box}

.mySlides {
  display:none;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000;
  font-size: 15px;
  padding: 125px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*********masonry style***********/

/* Makes two columns */
.ms-item {
width: 50%;
}
.ms-item-small {
width: 33%;
}

/* Makes three columns */

@media only screen and (max-width: 650px) {
	.ms-item{
		width: 100%;
	}
}
